* {
    border: none;
    font-family:"JetBrainsMono Nerd Font";
    min-height: 30px;
    font-size: 16px;
    color: white;
}


window#waybar {
    /*background: #1f1e1e;*/
    background: transparent; 
    color: white;
}



#clock, #pulseaudio, #network, #battery,
#custom-arch, #workspaces, #window, #language {
  border-radius: 10px;
  background-color: #1f1e1e;
  border: 2px solid #969393;
  color: white;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 8px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces {
  padding-right: 10px;
}

#custom-arch {
  font-size: 20px;
  margin-left: 15px;
  color: white;
  padding-right: 18px;
}


#workspaces button {
    padding: 0 10px;
    color: white;
}

#clock {
    color: white;
}

#window {
    color: white;
}

#pulseaudio {
	color: white;	
}

#battery {
    color: white;
    margin-right: 10px;
    padding-right: 15px;
}

#network {
    color: white;
   /* padding-right: 20px; */
}


