@import url('file:///home/gael/.cache/wal/colors-waybar.css');

* {
    border: none;
    font-family: "CaskaydiaCove Nerd Font";
    /* min-height: 30px; */
    font-size: 15px;
    color: @color0;
}

window#waybar {
    /*background: #1f1e1e;*/
    background: @color2;
}

#clock, #pulseaudio, #network, #battery,
#custom-arch, #workspaces, #window, #language, #cpu, #memory, #tray {
    border-radius: 10px;
    /* background-color: #1f1e1e; */
    /* border: 2px solid #969393; */
    background-color: @color6;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 5px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces {
    padding-right: 10px;
    margin-left: 5px;
    background-color: @color6;
}

#workspaces button:hover {
    background-color: @color5;
}

#workspaces button.active {
    background-color: @color3;
}
