* {
  font-family: JetBrainsMono;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: #1E1E1E;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 5px solid #EEEEEE;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #4d4e4f;
}

#text {
  margin: 2px;
}
